@font-face {
  font-family: "Yoon_550";
  src: url("./assets/font/YG550.ttf") format("ttf");
}

html,
body {
  margin: 0;
  padding: env(safe-area-inset-top, 10vh) 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  /* margin-top: 1vh; */
  width: 95vw;
  position: fixed;
  padding: 10px;
  /* background-color: white; */
}

.imageContainer {
  margin-top: 15.2vw;
  width: 90vw;
  display: flex;
  flex-direction: column;
}

.works {
  object-fit: scale-down;
  margin-bottom: 5vh;
  overflow: hidden;
}

.txt_en_box {
  position: fixed;
  right: 2.5vw;
  bottom: 2.5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.txt_en {
  height: 5vh;
}

.txt_en_01 {
  margin-top: 2.5vw;
  transition-property: color;
  transition-duration: 2s;
}

.txt_en_02 {
  margin-top: 2vh;
}

.txt_en_03 {
  margin-top: 1vh;
}

.txt_en_04 {
  margin-top: 1vh;
}

.standby {
  width: 100vw;
}

.gifContainer {
  display: flex;
  /* height: 100vh; */
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deskContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(0, 28, 152);
}

.gif_white {
}

.gif_blue {
}

.deskBlue {
  width: 100vw;
}

.deskWhite {
  width: 100vw;
}

.instaTxt {
  height: 3vh;
  margin-left: 0.9vh;
}

.mapTxt {
  height: 3vh;
}
