@font-face {
  font-family: "Yoon_550";
  src: url("./assets/font/YG550.ttf") format("ttf");
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  /* margin-top: 1vh; */
  width: 95vw;
  position: fixed;
  padding: 10px;
  /* background-color: white; */
}

.imageContainer {
  margin-top: 15.2vw;
  width: 90vw;
  display: flex;
  flex-direction: column;
}

.works {
  object-fit: scale-down;
  margin-bottom: 5vh;
  overflow: hidden;
}

.txt_en_box {
  position: fixed;
  right: 2.5vw;
  bottom: 2.5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.txt_en {
  height: 5vh;
}

.txt_en_01 {
  margin-top: 2.5vw;
  transition-property: color;
  transition-duration: 2s;
}

.txt_en_02 {
  margin-top: 6vh;
}

.txt_en_03 {
  margin-top: 1vh;
}

.txt_en_04 {
  margin-top: 1vh;
}

.standby {
  width: 100vw;
}

.gifContainer {
  /* background-color: rgb(16, 6, 159); */
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gif_white {
  width: 95vw;
}

.gif_blue {
  width: 95vw;
}
